main {
  background-color: #ebeef5;
  margin-top: 35px; }
  main .service-list-wrap {
    display: flex;
    justify-content: space-between; }
    main .service-list-wrap .service-list-col {
      width: 32%; }
      main .service-list-wrap .service-list-col .service-list-head .service-label h3 {
        position: relative;
        color: #5D7E99;
        text-align: center;
        font-size: 24px;
        padding: 25px 0px 35px 0px; }
        main .service-list-wrap .service-list-col .service-list-head .service-label h3:after {
          content: url(/img/icons/arrow-down.png);
          position: absolute;
          left: 50%;
          top: 0;
          margin-top: 60px;
          margin-left: -12px;
          width: 24px; }
    main .service-list-wrap .service-list {
      padding: 0;
      margin: 0;
      list-style: none; }
      main .service-list-wrap .service-list .service-item {
        background-color: #FFF;
        margin-bottom: 20px;
        border-radius: 3px; }
        main .service-list-wrap .service-list .service-item .item-view {
          padding: 18px 18px 5px 18px; }
          main .service-list-wrap .service-list .service-item .item-view .item-view__head {
            position: relative; }
            main .service-list-wrap .service-list .service-item .item-view .item-view__head .company-icon {
              height: 51px;
              max-width: 120px;
              display: flex;
              vertical-align: top;
              margin-right: 15px; }
            main .service-list-wrap .service-list .service-item .item-view .item-view__head * {
              display: inline-block; }
            main .service-list-wrap .service-list .service-item .item-view .item-view__head .view__head-right {
              text-align: left;
              padding-left: 10px;
              border-left: 1px solid #d0d0d0; }
              main .service-list-wrap .service-list .service-item .item-view .item-view__head .view__head-right h3 {
                color: #5D7E99;
                display: block;
                font-size: 26px; }
                main .service-list-wrap .service-list .service-item .item-view .item-view__head .view__head-right h3 .ex-vat {
                  font-size: 12px;
                  color: #5D7E99; }
                main .service-list-wrap .service-list .service-item .item-view .item-view__head .view__head-right h3 .ship-cost {
                  font-weight: bold; }
              main .service-list-wrap .service-list .service-item .item-view .item-view__head .view__head-right h4 {
                color: #999999;
                font-size: 16px; }
                main .service-list-wrap .service-list .service-item .item-view .item-view__head .view__head-right h4 .inc-vat {
                  font-size: 12px; }
            main .service-list-wrap .service-list .service-item .item-view .item-view__head .more-info {
              position: absolute;
              top: 0;
              right: 0;
              cursor: pointer; }
          main .service-list-wrap .service-list .service-item .item-view .item-view__center {
            margin: 30px 0px; }
            main .service-list-wrap .service-list .service-item .item-view .item-view__center .book-now-btn {
              text-transform: uppercase;
              background-color: #2EDBA2;
              border: solid 1.5px #2EDBA2;
              width: 100%;
              display: block; }
              main .service-list-wrap .service-list .service-item .item-view .item-view__center .book-now-btn:hover {
                background-color: transparent;
                color: #2EDBA2; }
          main .service-list-wrap .service-list .service-item .item-view .item-view__bottom {
            font-size: 14px; }
            main .service-list-wrap .service-list .service-item .item-view .item-view__bottom .view__bottom-left .printer-icon {
              position: relative;
              vertical-align: top;
              margin: 8px 0px 0px 0px; }
            main .service-list-wrap .service-list .service-item .item-view .item-view__bottom .view__bottom-left .printer-required {
              position: absolute;
              top: 0;
              left: 0;
              margin: 4px 0px 0px 21px; }
            main .service-list-wrap .service-list .service-item .item-view .item-view__bottom .view__bottom-left .printer-not-required {
              display: none;
              position: absolute;
              top: 0;
              left: 0;
              margin: 1px 0px 0px 21px; }
            main .service-list-wrap .service-list .service-item .item-view .item-view__bottom .view__bottom-left span {
              font-size: 14px;
              font-weight: 500;
              color: #666666; }
            main .service-list-wrap .service-list .service-item .item-view .item-view__bottom .view__bottom-left .not-required_span, main .service-list-wrap .service-list .service-item .item-view .item-view__bottom .view__bottom-left .required_span, main .service-list-wrap .service-list .service-item .item-view .item-view__bottom .view__bottom-left .drop-by_span {
              font-weight: 600;
              color: #666666; }
            main .service-list-wrap .service-list .service-item .item-view .item-view__bottom .view__bottom-right .collect-today {
              display: block;
              font-weight: 600;
              color: #666666; }
            main .service-list-wrap .service-list .service-item .item-view .item-view__bottom .view__bottom-right img {
              vertical-align: top;
              margin: 8px 7px 0px 30px; }
            main .service-list-wrap .service-list .service-item .item-view .item-view__bottom .view__bottom-right .delivery_span {
              color: #277FBF; }
            main .service-list-wrap .service-list .service-item .item-view .item-view__bottom * {
              display: inline-block;
              position: relative; }
