*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #fff;
}

h3
{
    font-size: 24px; 

    color: #207dbb;
}

a:hover,
a:focus,
a:active
{
    text-decoration: none !important; 

    color: #446dc1;
}

.container
{
    position: relative; 

    width: 1140px;
    margin: 0 auto;
}

.clearfix::after
{
    display: table;
    clear: both; 

    content: '';
}

.margin-center
{
    margin: 0 auto;
}

.text-center
{
    text-align: center;
}

.text-left
{
    text-align: left;
}

.no-margin
{
    margin: 0 !important;
}

.cursor-pointer
{
    cursor: pointer;
}

.button
{
    padding: 10px 25px;

    color: #fff;
    border: none;
    border-radius: 6px;
    outline: none !important; 
    background-color: transparent;
}

.pull-right
{
    float: right;
}

.dark-btn
{
    background-color: #446dc1;
}

.ease-out
{
    transition: all .3s;
}

.visually-hidden
{
    display: none; 
    visibility: hidden;
}

.book-now-btn
{
    display: block; 

    width: 100%;

    text-transform: uppercase;

    border: solid 1.5px #2edba2;
    background-color: #2edba2;
}
.book-now-btn:hover
{
    color: #2edba2; 
    background-color: transparent;
}

.active
{
    display: block !important;
    visibility: visible;
}

.close-btn,
.close-choose-btn
{
    position: absolute;
    top: 17px;
    right: 17px;

    cursor: pointer;
}

.modal-wrapper .modal-cover
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .6; 
    background: #000;
}

.modal-wrapper .modal
{
    position: fixed;
    z-index: 200; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    overflow-x: auto;
    overflow-y: hidden;
}
.modal-wrapper .modal .modal-content
{
    position: absolute;
    z-index: 300;
    top: 50%;
    left: 50%;

    display: none;

    width: 50%;
    min-width: 200px;
    padding: 34px 34px 27px 34px;

    transform: translate(-50%, -50%);
    vertical-align: top; 

    background-color: #fff;
}
.modal-wrapper .modal .modal-content .item-view__head
{
    margin: 15px 0 25px 0;
}
.modal-wrapper .modal .modal-content .service-wrap
{
    display: flex;

    margin-bottom: 20px;
}
.modal-wrapper .modal .modal-content .service-wrap .service-benefits-col span,
.modal-wrapper .modal .modal-content .service-wrap .service-conditions-col span
{
    font-size: 18px;
    font-weight: 600;

    display: block;

    padding-bottom: 15px; 

    color: #277fbf;
}
.modal-wrapper .modal .modal-content .service-wrap .service-benefits-col p,
.modal-wrapper .modal .modal-content .service-wrap .service-conditions-col p
{
    font-size: 14px; 

    position: relative;

    margin: 0 0 5px 25px;
}
.modal-wrapper .modal .modal-content .service-wrap .service-benefits-col p:after,
.modal-wrapper .modal .modal-content .service-wrap .service-conditions-col p:after
{
    position: absolute;
    top: 2px; 
    left: -25px;

    content: url(../img/icons/circle-ok.png);
}
.modal-wrapper .modal .modal-content .service-wrap .service-conditions-col
{
    margin-left: 95px;
}
.modal-wrapper .modal .modal-content .service-wrap .service-conditions-col p:after
{
    content: url(../img/icons/inner-dot-icon.png);
}
.modal-wrapper .modal .modal-content .book-now-btn
{
    display: block;

    width: 50%;
    margin: 0 auto;
}

.modal-wrapper #map
{
    width: 100%;
    height: 400px;
    margin-top: 30px; 

    background-color: grey;
}

.modal-wrapper .modal_map .modal-map-content
{
    width: 70% !important;
}
.modal-wrapper .modal_map .modal-map-content h5
{
    font-size: 18px;

    color: #666;
}
.modal-wrapper .modal_map .modal-map-content .map-carriers
{
    display: flex;

    margin: 20px 0 30px 0;
}
.modal-wrapper .modal_map .modal-map-content .map-carriers .map-carriers__block
{
    position: relative;

    margin-right: 20px;
    padding: 10px;

    cursor: pointer;

    border: solid 1px #c5c3c3;
    border-radius: 4px;
}
.modal-wrapper .modal_map .modal-map-content .map-carriers .map-carriers__block img
{
    width: 107px;
    height: 47px;
}
.modal-wrapper .modal_map .modal-map-content .map-carriers .map-carriers__block_active
{
    border: solid 1px #446dc1;
}

main
{
    font-family: 'Roboto', sans-serif; 

    background-color: #ebeef5;
}
main .service-list-wrap
{
    display: flex;

    justify-content: space-between;
}
main .service-list-wrap .service-list-col
{
    width: 32%;
}
main .service-list-wrap .service-list-col .service-list-head .service-label h3
{
    font-size: 24px;

    position: relative;

    padding: 25px 0 35px 0; 

    text-align: center;

    color: #5d7e99;
}
main .service-list-wrap .service-list-col .service-list-head .service-label h3:after
{
    position: absolute;
    top: 0;
    left: 50%;

    width: 24px; 
    margin-top: 60px;
    margin-left: -12px;

    content: url(../img/icons/arrow-down.png);
}
main .service-list-wrap .service-list
{
    margin: 0;
    padding: 0;

    list-style: none;
}
main .service-list-wrap .service-list .service-item
{
    margin-bottom: 20px;

    border-radius: 3px; 
    background-color: #fff;
}
main .service-list-wrap .service-list .service-item .item-view
{
    padding: 18px 18px 5px 18px;
}
main .service-list-wrap .service-list .service-item .item-view .item-view__center
{
    margin: 30px 0;
}
main .service-list-wrap .service-list .service-item .item-view .item-view__bottom
{
    font-size: 14px;
}
main .service-list-wrap .service-list .service-item .item-view .item-view__bottom .view__bottom-left .printer-icon
{
    position: relative;

    margin: 8px 0 0 0; 

    vertical-align: top;
}
main .service-list-wrap .service-list .service-item .item-view .item-view__bottom .view__bottom-left .printer-required
{
    position: absolute;
    top: 0;
    left: 0;

    margin: 4px 0 0 21px;
}
main .service-list-wrap .service-list .service-item .item-view .item-view__bottom .view__bottom-left .printer-not-required
{
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    margin: 1px 0 0 21px;
}
main .service-list-wrap .service-list .service-item .item-view .item-view__bottom .view__bottom-left span
{
    font-size: 14px;
    font-weight: 500;

    color: #666;
}
main .service-list-wrap .service-list .service-item .item-view .item-view__bottom .view__bottom-left .not-required_span,
main .service-list-wrap .service-list .service-item .item-view .item-view__bottom .view__bottom-left .required_span
{
    font-weight: 600;

    color: #666;
}
main .service-list-wrap .service-list .service-item .item-view .item-view__bottom .view__bottom-right .collect-today
{
    font-weight: 600;

    display: block;

    color: #666;
}
main .service-list-wrap .service-list .service-item .item-view .item-view__bottom .view__bottom-right img
{
    margin: 8px 7px 0 30px; 

    vertical-align: top;
}
main .service-list-wrap .service-list .service-item .item-view .item-view__bottom .view__bottom-right .delivery_span
{
    color: #277fbf;
}
main .service-list-wrap .service-list .service-item .item-view .item-view__bottom .view__bottom-right .drop-by_span
{
    font-weight: 600;

    color: #666;
}
main .service-list-wrap .service-list .service-item .item-view .item-view__bottom *
{
    position: relative; 

    display: inline-block;
}
main .item-view__head
{
    position: relative;
}
main .item-view__head .company-icon
{
    display: flex;

    max-width: 120px;
    height: 51px;
    margin-right: 15px; 

    vertical-align: top;
}
main .item-view__head *
{
    display: inline-block;
}
main .item-view__head .view__head-right
{
    padding-left: 10px;

    text-align: left;

    border-left: 1px solid #d0d0d0;
}
main .item-view__head .view__head-right h3
{
    font-size: 26px; 

    display: block;

    color: #5d7e99;
}
main .item-view__head .view__head-right h3 .ex-vat
{
    font-size: 12px;

    color: #5d7e99;
}
main .item-view__head .view__head-right h3 .ship-cost
{
    font-weight: bold;
}
main .item-view__head .view__head-right h4
{
    font-size: 16px; 

    color: #999;
}
main .item-view__head .view__head-right h4 .inc-vat
{
    font-size: 12px;
}
main .item-view__head .more-info
{
    position: absolute;
    top: 0;
    right: 0;

    cursor: pointer;
}

#filters
{
    font-family: 'Roboto', sans-serif;

    position: relative;

    padding-top: 25px;

    color: #333;
}

.filters__first-row
{
    position: relative;
    z-index: 2; 

    margin: 0 18px 40px 0;
}
.filters__first-row .filters--found-services
{
    height: 45px;
}
.filters__first-row .filters--found-services p
{
    font-size: 28px;
    font-weight: 300;

    margin: 0;
}
.filters__first-row .filters--found-services b
{
    font-weight: 500;

    color: #5d7e99;
}
.filters__first-row .filters--found-services .found-services__email
{
    position: relative; 

    margin-left: 25px;
}
.filters__first-row .filters--found-services .found-services__email::after
{
    position: absolute;
    top: 0;
    left: 0;

    margin-top: 1px;
    margin-left: -25px; 

    content: url(../img/icons/email.png);
}
.filters__first-row .filter--found-sizes
{
    position: relative;

    display: flex;

    margin: 2px 0 0 0;

    color: #9ca0a8;
    border-radius: 6px; 
    background-color: #f1f3f9;

    align-items: center;
}
.filters__first-row .filter--found-sizes .found-sizes__dimens
{
    margin-left: 45px;
}
.filters__first-row .filter--found-sizes .found-sizes__dimens:after
{
    position: absolute;
    top: 0;
    left: 0;

    margin-top: 2px; 
    margin-left: 10px;

    content: url(../img/icons/package-icon.png);
}
.filters__first-row .filter--found-sizes .found-sizes__edit a
{
    padding: 0 6px 3px 6px;

    color: #fff;
    border-radius: 3px; 
    background-color: #99cbec;
}

.details-list,
.options-list
{
    position: relative;

    display: none;

    padding: 30px 20px 28px 20px; 

    transform-origin: top !important;

    color: #989898;
    border: 2px solid #e6e5e5;
    border-radius: 12px;
    background-color: #f8f8f8;
}
.details-list::after,
.options-list::after
{
    position: absolute;
    top: -7px;
    right: 80px;

    display: block;

    content: '';
    transform: rotate(135deg); 

    border-top: 12px solid transparent;
    border-left: 12px solid #e6e5e5;
}
.details-list .info-input,
.options-list .info-input
{
    display: inline-block; 

    width: 14%;
    margin-right: 10px;
}
.details-list .info-input .info-input__label,
.options-list .info-input .info-input__label
{
    font-size: 13px;

    padding-bottom: 4px;
}
.details-list .info-input .info-input__more,
.options-list .info-input .info-input__more
{
    font-weight: bold;

    margin-left: 20px; 

    color: #226d9f;
}
.details-list .input-group,
.options-list .input-group
{
    position: relative;

    overflow: hidden;
}
.details-list .input-group .input-measure,
.options-list .input-group .input-measure
{
    line-height: 34px;

    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;

    display: block;

    width: 35%;
    height: 100%;

    text-align: center;

    color: #fff;
    border: solid 1px #989898;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; 
    background-color: #c7c7c7;
}
.details-list .results-update-btn,
.options-list .results-update-btn
{
    margin-top: 12px; 

    cursor: default;
}

.filters__second-row
{
    padding: 20px 0 20px 0;
}
.filters__second-row .filter-buttons .filter-btn,
.filters__second-row .filter-buttons .filter-btn_active
{
    width: 16%;
    margin-right: 12px; 
    padding: 10px 8px 10px 18px;

    color: #446dc1;
    border: solid 1px #446dc1;
    background-color: transparent;
}
.filters__second-row .filter-buttons .filter-btn .filter-btn__title,
.filters__second-row .filter-buttons .filter-btn_active .filter-btn__title
{
    font-size: 20px;
    font-weight: 600;

    display: block; 

    color: #446dc1;
}
.filters__second-row .filter-buttons .filter-btn span,
.filters__second-row .filter-buttons .filter-btn_active span
{
    font-size: 14px;

    color: #999;
}
.filters__second-row .filter-buttons .filter-btn:hover,
.filters__second-row .filter-buttons .filter-btn_active:hover
{
    color: #fff; 
    background-color: #446dc1;
}
.filters__second-row .filter-buttons .filter-btn:hover span,
.filters__second-row .filter-buttons .filter-btn_active:hover span
{
    color: #fff;
}
.filters__second-row .filter-buttons .filter-btn_active
{
    color: #fff; 
    background-color: #446dc1;
}
.filters__second-row .filter-buttons .filter-btn_active .filter-btn__title
{
    color: #fff;
}
.filters__second-row .filter-buttons .filter-btn_active span
{
    color: #fff;
}
.filters__second-row .shipment-btn
{
    margin-right: 15px;

    cursor: pointer;

    color: #15dca6;
    border: solid 1px #15dca6; 
    background-color: transparent;
}
.filters__second-row .shipment-btn:hover
{
    color: #fff; 
    background-color: #15dca6;
}

.options-list
{
    position: relative;

    display: none;

    width: 100%;
    margin: 20px 0;
}
.options-list::after
{
    position: absolute;
    top: -7px;
    right: 80px;

    display: block;

    content: '';
    transform: rotate(135deg); 

    border-top: 12px solid transparent;
    border-left: 12px solid #e6e5e5;
}
.options-list ul
{
    list-style: none;
}
.options-list ul .upgrade-item
{
    font-weight: 600;
    line-height: 32px;

    position: relative;

    margin: 6px 0;
    padding: 7px 8px 9px 7px;

    color: #9195a2;
    border: 1px solid #dcdfe7;
    border-left-width: 10px; 
    border-radius: 5px;
    background: #fff;
}
.options-list ul .upgrade-item a
{
    font-size: 14px; 

    color: #337ab7;
}
.options-list ul .upgrade-item .upgrade-item__icon
{
    position: relative; 

    width: 28px;
}
.options-list ul .upgrade-item *
{
    position: relative;

    display: inline-block; 

    vertical-align: top;
}
.options-list ul .upgrade-item .upgrade-item-btn
{
    font-size: 15px;

    float: right;

    width: 100px;
    min-height: 31px;
    padding: 1px 12px;

    transition: all .5s ease;

    color: #fff;
    border-radius: 3px;
    background: #63b1e5 url(/img/icons/upgrade-add-icon.png) right 10px center no-repeat;
    background-size: 20px;
}
.options-list ul .upgrade-item .form-control
{
    font-size: 12px;
    font-weight: 300;

    display: inline-block;

    width: 105px;
    height: 32px;
    margin-left: 15px;
    padding: 5px 6px;

    border-radius: 3px;
    background: #f0f1f3;
}
.options-list ul .upgrade-item img
{
    margin-top: 2px; 

    vertical-align: top;
}
.options-list ul .upgrade-item .text-description
{
    font-size: 90%;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;

    display: none;

    margin-top: 10px;
    padding: 8px;

    color: inherit;
    border: 1px solid #e2e2e2;
    border-radius: 4px; 
    background: #f5f5f5;
}
.options-list ul .upgrade-item .text-description_active
{
    display: block;
}

.choose-date
{
    padding: 12px 0 16px 0; 

    border-top: solid .5px #898989;
}
.choose-date .choose-date__left
{
    position: relative; 

    display: flex;
}
.choose-date .choose-date__left .collect-today-btn,
.choose-date .choose-date__left .collection-date-btn
{
    font-size: 14px;

    display: flex;

    padding: 8px 14px 8px 14px;

    cursor: pointer;

    color: #999; 
    border: solid 1px #c3c5c7;
    border-radius: 8px;

    align-items: center;
}
.choose-date .choose-date__left .collect-today-btn input,
.choose-date .choose-date__left .collection-date-btn input
{
    margin-right: 10px;
}
.choose-date .choose-date__left .collect-today-btn_active
{
    border: solid 1.5px #446dc1;
}
.choose-date .choose-date__left .collection-date-btn
{
    margin-left: 15px;
}
.choose-date .choose-date__left .collection-date-btn img
{
    width: 24px;
    margin-right: 10px;
}
.choose-date .choose-date__left .choose-collection
{
    position: absolute;
    z-index: 1;
    left: 0;

    display: none;

    margin-top: 60px;
    margin-left: 100px;
    padding: 17px;

    border-radius: 4px; 
    background-color: #fff;
    box-shadow: 1px 1px 5px 3px #d9d6d685;
}
.choose-date .choose-date__left .choose-collection .collection-date__block
{
    margin-right: 15px;
    padding: 8px 15px 0 15px; 

    border: solid 1px #c3c5c7;
    border-radius: 3px;
}
.choose-date .choose-date__left .choose-collection .collection-date__block .date-week
{
    font-size: 12px;

    display: block;

    text-align: center;

    color: #999;
}
.choose-date .choose-date__left .choose-collection .collection-date__block .date-day
{
    font-size: 40px; 

    display: block;

    text-align: center;

    color: #5d6162;
}
.choose-date .choose-date__left .choose-collection .collection-date__block .date-time
{
    font-size: 16px;

    padding-bottom: 5px; 

    text-align: center;

    color: #5d6162;
}
.choose-date .choose-date__left .choose-collection .collection-time__block
{
    margin-top: 10px; 
    padding-bottom: 7px;
}
.choose-date .choose-date__left .choose-collection .collection-wrap
{
    display: flex;

    margin-bottom: 20px;
}
.choose-date .choose-date__left .choose-collection h5
{
    font-size: 12px;
    font-weight: 600; 

    color: #666;
}

header
{
    font-family: 'Roboto', sans-serif; 

    padding: 20px;

    border-bottom: solid 5px #446dc1;
}
header .logo-img
{
    max-width: 200px;
}

.top-bar
{
    font-family: 'Roboto', sans-serif;

    padding: 8px; 

    background-color: #f2f2f2;
}
.top-bar .top-bar__block
{
    display: flex;

    justify-content: center;
}
.top-bar .top-bar__block .top-bar__icon
{
    max-width: 30px;
    max-height: 28px;
    margin: 10px 05px 0 0;

    vertical-align: top;
}
.top-bar .top-bar__block strong
{
    display: block;
}
.top-bar .top-bar__block *
{
    display: inline-block;
}
.top-bar .top-bar__block:nth-child(3) .top-bar__icon
{
    max-width: 65px;
}
